body {
	color:black; font-style: italic;
}
h1{
	color:blue; font-style: italic; background-color:yellow;
}
h2.competence{
	color:green; font-style: normal; background-color:yellow;
}
p.{
	color:blue; font-style: italic; background-color:yellow;
}

h3{
	color:blue; font-style: italic; background-color:yellow;
}